.hero_section {
  padding-block: 80px;
}

.hero_section h1 {
  padding-bottom: 20px;
}

.sub_heading {
  font-family: poppins_bold;
  font-size: 18px;
  padding-bottom: 15px;
}

.hero_section p:nth-of-type(2) {
  max-width: 90ch;
  margin-inline: auto;
  padding-bottom: 30px;
  color: var(--color3);
}
