.projects_section {
  margin-bottom: 50px;
}
.projects_section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.box_wrapper {
  display: flex;
  gap: 2%;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
  background-color: var(--color4);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.box h3 {
  color: var(--color2);
}

.projects_p {
  color: var(--color);
}

.projects_bold_p {
  font-family: poppins_bold;
}
